# Maven
/target/

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

*.xml
*.csv
/output-csv/
/neo4j/
/INPUT_FILE/